 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1319px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 75px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 885px;
  height: 885px;
  background-image: url("images/2024-01-24.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -238px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 739px;
  height: 739px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: -432px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 493px;
  min-height: 526px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -632px auto 0 123px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0;
}

.u-section-1 .u-text-1 {
  margin: 32px 0 0;
}

.u-section-1 .u-shape-3 {
  width: 175px;
  height: 175px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -200px 0 25px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-1 .u-image-1 {
    width: 810px;
    height: 810px;
    margin-top: -188px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -360px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-shape-3 {
    width: 155px;
    height: 155px;
    margin-top: -180px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-1 .u-shape-1 {
    width: 136px;
    height: 136px;
    margin-top: 86px;
  }

  .u-section-1 .u-image-1 {
    width: 621px;
    height: 621px;
    margin-top: -157px;
  }

  .u-section-1 .u-shape-2 {
    width: 686px;
    height: 686px;
    margin-top: -160px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -606px;
    margin-left: 97px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-shape-3 {
    width: 125px;
    height: 125px;
    margin-top: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-1 .u-shape-1 {
    width: 114px;
    height: 114px;
    margin-top: 75px;
  }

  .u-section-1 .u-image-1 {
    width: 479px;
    height: 479px;
    margin-top: -74px;
  }

  .u-section-1 .u-shape-2 {
    height: 540px;
    margin-top: -47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 461px;
    min-height: 492px;
    margin-top: -516px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-shape-1 {
    width: 80px;
    height: 80px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 0;
  }

  .u-section-1 .u-shape-2 {
    height: 500px;
    width: 500px;
    margin-top: -51px;
    margin-left: -80px;
    margin-right: -80px;
  }

  .u-section-1 .u-group-1 {
    min-height: 484px;
    margin-top: -492px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 108px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-shape-3 {
    width: 95px;
    height: 95px;
    margin-top: 27px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1113px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 62px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 236px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  width: 244px;
  height: 244px;
  background-image: url("images/clement-m-Ng3xrviPrhk-unsplash.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 298px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 95px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  width: 244px;
  height: 244px;
  background-image: url("images/bb-mg-Ksi4ubESmT0-unsplash.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 195px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 95px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 259px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-top: 88px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  width: 244px;
  height: 244px;
  background-image: url("images/mintosko-V4b2j7f1dfc-unsplash.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 284px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin-top: 88px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 259px;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-image-4 {
  width: 244px;
  height: 244px;
  background-image: url("images/jan-kopriva-sh_7sFEFICI-unsplash.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-2 .u-image-1 {
    width: 195px;
    height: 195px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 246px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-2 .u-image-2 {
    width: 195px;
    height: 195px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 214px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 234px;
  }

  .u-section-2 .u-image-3 {
    width: 195px;
    height: 195px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 214px;
  }

  .u-section-2 .u-image-4 {
    width: 195px;
    height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 289px;
  }

  .u-section-2 .u-image-1 {
    height: 133px;
    width: 133px;
    margin-top: 71px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-2 .u-image-2 {
    width: 140px;
    height: 140px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 282px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 289px;
  }

  .u-section-2 .u-image-3 {
    height: 133px;
    width: 133px;
    margin-top: 71px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 282px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 282px;
  }

  .u-section-2 .u-image-4 {
    width: 133px;
    height: 133px;
    margin-top: 67px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2757px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 350px;
    height: 350px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 433px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
    order: 1;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 433px;
    order: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 350px;
    height: 350px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
    order: 3;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 423px;
    order: 2;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    width: 350px;
    height: 350px;
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1911px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 273px;
  }

  .u-section-2 .u-image-3 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 266px;
  }

  .u-section-2 .u-image-4 {
    width: 300px;
    height: 300px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 672px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/anky-lau-_voMgQ3bVQo-unsplash.jpg");
  background-position: 50% 50%;
  min-height: 672px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 672px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 156px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 672px;
  background-image: url("images/neelabh-raj-cw1914zDHUs-unsplash.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 544px;
  }

  .u-section-3 .u-image-1 {
    min-height: 554px;
    --animation-custom_in-rotate: 180deg;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    min-height: 554px;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-rotate: 180deg;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 298px;
  }

  .u-section-3 .u-image-1 {
    min-height: 538px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 538px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1552px;
  }

  .u-section-3 .u-image-1 {
    min-height: 807px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-image-2 {
    min-height: 807px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 954px;
  }

  .u-section-3 .u-image-1 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 508px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1378px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-4 .u-image-1 {
  min-height: 684px;
  text-transform: uppercase;
  line-height: 0.8;
  background-image: url("images/vladyslav-lytvyshchenko-9-muyFk7RC4-unsplash.jpg");
  background-position: 50% 50%;
  margin: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 221px;
  height: 221px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 159px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 610px;
  height: 610px;
  background-image: url("images/philipp-katzenberger-YVkB4W1HRv4-unsplash.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.24;
  margin: -221px auto 0 130px;
}

.u-section-4 .u-shape-2 {
  width: 168px;
  height: 168px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -169px auto 0 92px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 614px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 32px 150px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 52px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 909px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 647px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 110px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-4 .u-image-1 {
    min-height: 625px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -99px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-4 .u-image-1 {
    min-height: 532px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 119px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 101px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 881px;
}

.u-section-5 .u-shape-1 {
  height: 618px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image: url("images/3179068.png?rand=0fce");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -553px auto 0;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 35px auto 60px;
} .u-section-6 {
  background-image: none;
  min-height: 1540px;
}

.u-section-6 .u-shape-1 {
  width: 237px;
  height: 237px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 60px);
}

.u-section-6 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("images/bambi-corro-5ICRK5K2Au8-unsplash.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -209px calc(((100% - 1140px) / 2) + 26px) 0 auto;
}

.u-section-6 .u-shape-2 {
  width: 245px;
  height: 245px;
  margin: -181px calc(((100% - 1140px) / 2) + 7px) 0 auto;
}

.u-section-6 .u-group-1 {
  width: 634px;
  min-height: 656px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -372px auto 0 calc(((100% - 1140px) / 2) + 6px);
}

.u-section-6 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-shape-3 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -3px calc(((100% - 1140px) / 2) + 270px) 0 auto;
}

.u-section-6 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1156px);
  margin: -1112px auto 60px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 280px;
  grid-gap: 0px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 60px;
}

.u-section-6 .u-icon-1 {
  width: 123px;
  height: 123px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -42px auto 0;
  padding: 31px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 35px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px 60px;
}

.u-section-6 .u-icon-2 {
  width: 123px;
  height: 123px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -42px auto 0;
  padding: 31px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 60px;
}

.u-section-6 .u-icon-3 {
  width: 123px;
  height: 123px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -42px auto 0;
  padding: 31px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 35px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: 180px;
    height: 180px;
    margin-left: calc(((100% - 1140px) / 2) + 160px);
  }

  .u-section-6 .u-image-1 {
    width: 700px;
    height: 700px;
    margin-right: calc(((100% - 1140px) / 2) + 126px);
  }

  .u-section-6 .u-shape-2 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-group-1 {
    width: 560px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-shape-3 {
    margin-right: calc(((100% - 1140px) / 2) + 274px);
  }

  .u-section-6 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 228px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1469px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-image-1 {
    width: 558px;
    height: 558px;
    margin-right: calc(((100% - 1140px) / 2) + 230px);
  }

  .u-section-6 .u-shape-2 {
    margin-top: -110px;
    margin-right: calc(((100% - 1140px) / 2) + 239px);
  }

  .u-section-6 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-shape-3 {
    margin-right: calc(((100% - 1140px) / 2) + 260px);
  }

  .u-section-6 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 524px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1289px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-image-1 {
    width: 497px;
    height: 497px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-shape-2 {
    width: 194px;
    height: 194px;
    margin-top: 70px;
    margin-right: calc(((100% - 1140px) / 2) + 325px);
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 15px;
  }

  .u-section-6 .u-shape-3 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 393px);
  }

  .u-section-6 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1089px;
  }

  .u-section-6 .u-shape-1 {
    width: 126px;
    height: 126px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-shape-2 {
    width: 135px;
    height: 135px;
    margin-right: calc(((100% - 1140px) / 2) + 428px);
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-6 .u-shape-3 {
    width: 77px;
    height: 77px;
    margin-left: calc(((100% - 1140px) / 2) + 503px);
  }

  .u-section-6 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
} .u-section-7 {
  min-height: 500px;
}

.u-section-7 .u-map-1 {
  width: calc(((100% - 1140px) / 2) + 1270px);
  left: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-map-1 {
    width: 940px;
    left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-map-1 {
    width: 340px;
  }
}